.cmp_body {
    height: 95%;
    min-height: 36px;
    position: relative;
    background-color: #fff;
    margin: 0 17px;
}
.tax_row {
    display: none;
}
.cmp_body.signedin {
    height: 107%;
}
.best_shipping, .amz_shipping, .best_tax, .amz_tax {
    font-weight: 300 !important;
    font-size: 16px !important;
    width: 100px;
    min-height: 38px;
}
.amz_tax {
    float: right;
}

.left-30 {
    width: 30% !important;
    float: left !important;
}
.right-70 {
    width: 70% !important;
}

#desc_save {
    text-align: center;
}

#currency-select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 0px;
    /*background: #161920;*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #000;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    /*,linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)*/
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
#currency-select::-ms-expand {
    display: none;
}
#currency-select:hover {
    /*border-color: #888;*/
}
#currency-select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
#currency-select option {
    font-weight:normal;
}

#amz_cmp_add_item {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #00aaaa;
    color: white;
    background-color: #00aaaa;
    margin-top: 15px;
    border-radius: 5px;
    margin: 15px 10px;
    width: 98%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 0px;
}

.ap_popover {
    z-index: 9999;
}

.smallCurrency {
    font-size: 13px;
}

#compare-container .hidden {
    display: none;
}

#compare-container {
    margin-left: 15%;
    height: 50px;
    width: 20%;
    margin: 0;
    padding: 10px;
    display: flex;
}

#compare-region {
    margin-left: 4px;   
    margin-top: -10px;
    margin-left: 0px;
    float: left;
}

#compare-region button, #compare-region a {
    width: 150px;
    display: inline;
    display: inline;
    padding: 10px;
    border: 1px solid darkorange;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    margin: 0px;
}

#compare-region button.pending-price-scan, #compare-region a.pending-price-scan {
    background-color: darkorange;
}

#compare-region button.completed-price-scan, #compare-region a.completed-price-scan {
    background-color: rgb(160, 223, 194);
    border: 1px solid rgb(160,223,194);
}
#compare-icon {
    display: none;
}

#compare-icon button, #compare-icon a {
    display: none;
}

#compare-placeholder {
    width: 32px;
}

div.compare-loader 
{	width: 13px;
	height: 13px;
}

div.compare-tooltip {
    z-index: 9999; 
    width: 280px;
	display: none;
	font-size: 13px;
	/*font-weight: bold;*/
	border-image: none;
    letter-spacing: 0px;
}
div.price-tooltip {
    display: none;
    font-size: 13px;
    width: 530px;
    height: 300px;
    border-image: none;
    letter-spacing: 0px;
}
div.compare-tooltip div.entry {
	padding-top: 5px;
}

span.compare-price {
	color: #b12704;
	font-size: 1.0em;
	/*letter-spacing: -1px;*/
	font-weight: bold;
}

span.compare-warning {
    color: #C45500 !important;
}

.compare-not-found {
	text-decoration: line-through;
}

span.compare-on {
    color: #000000;
    font-weight: normal;
}

div.compare-credits {
    font-size: 0.75em;
    font-style: italic;
    text-align: right;
    margin-top: 13px;
    font-weight: normal;
    color: #666666;
}

span.back-link {    
    line-height: 0px;
    margin-left: 1px;    
    top: -10px;
    position: relative;
}

span.back-link > img {
    top: 1;
    position: relative;
}

span.back-link > a {
    font-size: 1em;
    text-decoration: none !important;
}

@media only screen and (max-width: 1200px) {
    #compare-container {
        display: inline-block;
        height: 100px;
    } 
    #compare-icon, #compare-region {
        width: 100%;
        height: 40px;
    }
    #compare-region {
        margin-top: 10px;
    }
}

.ap_popover_unsprited .cmp_body .ap_left{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_left_17._V1_.png)
}
.ap_popover_unsprited .cmp_body .ap_right{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_right_17._V1_.png)
}
.ap_popover_unsprited .ap_header .ap_left{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top_left._V1_.png)
}
.ap_popover_unsprited .ap_header .ap_right{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top_right._V1_.png)
}
.ap_popover_unsprited .ap_header .ap_middle{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top._V1_.png)
}
.ap_popover_unsprited .ap_footer .ap_left{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom_left._V1_.png)
}
.ap_popover_unsprited .ap_footer .ap_right{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom_right._V1_.png)
}
.ap_popover_unsprited .ap_footer .ap_middle{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom._V1_.png)
}
.ap_popover_sprited .cmp_body .ap_left,.ap_popover_sprited .cmp_body .ap_right{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-v._V1_.png)
}
.ap_popover_sprited .ap_closebutton,.ap_popover_sprited .ap_footer .ap_left,.ap_popover_sprited .ap_footer .ap_middle,.ap_popover_sprited .ap_footer .ap_right,.ap_popover_sprited .ap_header .ap_left,.ap_popover_sprited .ap_header .ap_middle,.ap_popover_sprited .ap_header .ap_right{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-h._V1_.png)
}
.ap_popover_sprited .cmp_body .ap_left-arrow,.ap_popover_sprited .cmp_body .ap_right-arrow{
    background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-arrow-v._V1_.png)
}
.ap_popover{
    position:absolute;
    outline:0
}
.cmp_body .ap_left,.ap_popover_sprited .cmp_body .ap_left-arrow{
    width:17px;
    height:100%;
    position:absolute;
    top:0;
    left:-17px;
    background-attachment:scroll;
    background-repeat:repeat-y
}
.ap_popover_sprited .cmp_body .ap_left{
    background-position:0 top
}
.cmp_body .ap_right,.ap_popover_sprited .cmp_body .ap_right-arrow{
    width:17px;
    height:100%;
    position:absolute;
    top:0;
    right:-17px;
    background-attachment:scroll;
    background-repeat:repeat-y
}
.ap_popover_sprited .cmp_body .ap_right{
    background-position:-51px top
}
.ap_footer,.ap_header{
    position:relative;
    width:100%
}
.ap_footer *,.ap_header *{
    height:26px
}
.ap_header .ap_left{
    position:absolute;
    top:0;
    left:0;
    width:34px;
    background-attachment:scroll;
    background-repeat:no-repeat
}
.ap_popover_sprited .ap_header .ap_left{
    background-position:left -2px
}
.ap_header .ap_right{
    width:34px;
    position:absolute;
    top:0;
    right:0;
    background-attachment:scroll;
    background-repeat:no-repeat
}
.ap_popover_sprited .ap_header .ap_right{
    background-position:right -2px
}
.ap_header .ap_middle{
    margin:0 34px;
    background-attachment:scroll;
    background-repeat:repeat-x
}
.ap_popover_sprited .ap_header .ap_middle{
    background-position:0 -70px
}
.ap_footer .ap_left{
    position:absolute;
    top:0;
    left:0;
    width:34px;
    background-attachment:scroll;
    background-repeat:no-repeat
}
.ap_popover_sprited .ap_footer .ap_left{
    background-position:left -40px
}
.ap_footer .ap_right{
    width:34px;
    position:absolute;
    top:0;
    right:0;
    background-attachment:scroll;
    background-repeat:no-repeat
}
.ap_popover_sprited .ap_footer .ap_right{
    background-position:right -40px
}
.ap_footer .ap_middle{
    margin:0 34px;
    background-attachment:scroll;
    background-repeat:repeat-x
}
.ap_popover_sprited .ap_footer .ap_middle{
    background-position:0 -108px
}
.ap_popover .ap_titlebar{
    display:none;
    position:absolute;
    left:0;
    top:0;
    background-color:#EAF3FE;
    border-bottom:1px solid #C2DDF2;
    font-size:14px;
    font-weight:700;
    margin:8px 18px;
    white-space:nowrap;
    overflow:hidden
}
.ap_popover .ap_titlebar.multiline{
    white-space:normal;
    overflow:visible
}
.ap_popover .ap_titlebar .ap_title{
    padding:4px 0;
    margin-left:10px;
    overflow:hidden
}
#ap_overlay,#ap_overlay div{
    background-color:#3F4C58;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:99
}
.ap_popover .ap_close{
    position:absolute;
    right:18px;
    top:13px
}
.ap_popover .ap_close a{
    padding:5px;
    text-decoration:none;
    outline:0
}
.ap_popover .ap_close .ap_closetext{
    display:none;
    margin-right:5px;
    line-height:1em
}
.ap_popover .ap_closebutton{
    display:-moz-inline-box;
    display:inline-block;
    width:15px;
    height:15px;
    background-repeat:no-repeat;
    background-position:0 -136px;
    position:relative;
    overflow:hidden;
    vertical-align:top
}
.ap_popover .ap_closebutton span{
    position:absolute;
    top:-9999px
}
.ap_popover .ap_close img{
    vertical-align:top
}
.ap_classic{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #2F2F1D;
    border-right:1px solid #2F2F1D;
    background-color:#EFEDD4;
    padding:3px
}
.ap_classic .ap_titlebar{
    color:#86875D;
    font-size:12px;
    padding:0 0 3px 0;
    line-height:1em
}
.ap_classic .ap_close{
    float:right
}
.ap_classic .ap_content{
    clear:both;
    background-color:#fff;
    border:1px solid #ACA976;
    padding:8px;
    font-size:11px
}
